/node_modules
/public/hot
/public/storage
/public/fonts/vendor/*
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.*
/.phpunit.cache
//.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/redis
/storage/elasticsearch
storage/mysql_data
public/vendor
docker/target
docker/pdfbox/target
public/css/
public/js/
storage/opensearch
*.bak
.DS_Store
test_data
/.nova
.npm
public/build
.gitconfig
