/node_modules
/public/hot
/public/storage
/public/fonts/vendor/*
/storage/*.key
/vendor
.env
.env.backup
/.phpunit.cache
/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/redis
/storage/elasticsearch
storage/mysql_data
public/vendor
docker/target
docker/pdfbox/target
public/css/
public/js/
storage/opensearch
