name: thalium
services:
  app:
    build:
      context: /home/aquarion/docker/thalium
      dockerfile: docker/Dockerfile/app.Dockerfile
      args:
        docker_app_lock_dir: /var/run/thalium
        environment: staging
    container_name: thalium-app
    environment:
      LOG_PREFIX: thalium
    image: thalium
    networks:
      default: null
    restart: unless-stopped
    volumes:
      - type: bind
        source: /home/aquarion/docker/thalium
        target: /var/www
        bind: {}
      - type: bind
        source: /home/library/RPG/Systems
        target: /mnt/rpg
        bind: {}
      - type: bind
        source: /home/docker/.run
        target: /var/run/thalium
        bind: {}
      - type: volume
        source: elasticsearch_certs
        target: /usr/share/elasticsearch/config/certs
        volume: {}
    working_dir: /var/www/
  scheduler:
    build:
      context: /home/aquarion/docker/thalium
      dockerfile: docker/Dockerfile/scheduler.Dockerfile
    container_name: scheduler-app
    environment:
      LOG_PREFIX: scheduler
    networks:
      default: null
    restart: unless-stopped
    volumes:
      - type: bind
        source: /home/aquarion/docker/thalium
        target: /var/www
        bind: {}
      - type: bind
        source: /home/library/RPG/Systems
        target: /mnt/rpg
        bind: {}
      - type: volume
        source: elasticsearch_certs
        target: /usr/share/elasticsearch/config/certs
        volume: {}
    working_dir: /var/www/
networks:
  default:
    name: thalium_default
volumes:
  elasticsearch_certs:
    name: elasticsearch_certs
    external: true
